.App {
    text-align: center;
}

svg{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 15px;
}
.time {
    font-family: 'Bakbak One', cursive;
    font-size: 50px;
}

.no-data{
    font-size: larger;
    text-align: center;
    line-height: 500px;
}

g[aria-label="x-axis label"][transform="translate(0,27)"] text,
g[aria-label="y-axis label"][transform="translate(-37,-27)"] text{
   display: none;
}
.close {
    margin-bottom: 20px;
    margin-right: 20px;
}
html {
    height: 100%;
}

.button {
    vertical-align: middle !important;
    padding: 0rem .75rem 0rem .75rem;
}

body {
    min-height: 100%;
    padding: 10px;
}

.alltickets {
    margin-bottom: 20px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }


    to {
        transform: rotate(360deg);
    }
}

.bgcolor {
    background: linear-gradient(-45deg, #ee7752, #91526a, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #91526a, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.footer-pin {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(51, 61, 92);
    color: white;
    text-align: center;
}

.light-title {
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #002cb0 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 190px;
}

.dark-title {
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #fff800 0%,
            #ff1361 29%,
            #44107a 67%,
            #002cb0 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 190px;
}

.dark {
    color: #ffffff;
    background-color: #313536;
}

.dark-text > a  {
    color: white;
}

.dark-text > a:hover  {
    color: rgb(92, 92, 92);
}

.dark-bg {
    color: #000000;
    background-color: #bcbbbb;
    box-shadow: 1px 1px 4px #5e5d5d;
}

.light-bg {
    color: white;
    background-color: #9e9ea1;
    box-shadow: 1px 1px 4px #6c6c6c;
}

.light {
    color: black;
    background-color: #ffffff;
}

.dark-primary {
    color: white;
    background-color: #2e4eb7;
    border: 2px solid #2e4eb7;
    box-shadow: 3px 3px 9px #061851;
    border-radius: 5px;
}

.comment-header {
    display: flex;
    height: 40px;
}

.comment-header > p {
   line-height: 13px;
}

.description{
    font-size: 25px !important;
}

.dark-secondary-bg {
    color: white;
    background-color: #595d5f;
    border-radius: 5px;
}

.dark-tertiary-bg {
    color: white;
    background-color: #313536;
    border-radius: 5px;
}

.dark-secondary {
    color: white;
    background-color: #2a816c;
    border: none;
}

.dark-tertiary {
    background-color: #5e2798;
    color: white;
    border: none;
    box-shadow: 3px 3px 8px #28054e;
}

.light-tertiary {
    background-color: #9159cd;
    color: white;
    border: none;
    box-shadow: 3px 3px 8px #5e2798;
}

.light-primary {
    color: #ffffff;
    background-color: #5471d0;
    border: 2px solid #5471d0;
    box-shadow: 3px 3px 9px #2e4eb7;
    border-radius: 5px;
}
.dark-primary-bg {
    color: white ;
    background-color: #474748 !important;
    border-radius: 5px;
}
.light-primary-bg {
    color: black;
    background-color: white;
    border-radius: 5px;
}
.comment-container {
    /* display: flex; */
    height: 20px;
}

.light-secondary-bg {
    color: black;
    background-color: rgb(242, 242, 244);
    border-radius: 5px;
}

.light-tertiary-bg {
    color: black;
    background-color: white; 
    border-radius: 5px;
}
.light-shadow{
    box-shadow: 2px 2px 9px rgb(84, 84, 84);
}
.dark-shadow{
    box-shadow: 3px 3px 9px #000508;
}
.light-secondary {
    color: rgb(255, 255, 255);
    background-color: #28bc99;
    border: none;
    box-shadow: 3px 3px 9px #2a816c;
}


.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 24px;
}

/* hide checkbox  */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    margin-left: 5px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3361ea;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.toggle {
    background-color: #bc0d47;
}

input:focus+.toggle {
    box-shadow: 0 0 1px #60d8dd;
}

input:checked+.toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

td, th {
  border: 1px solid #DDD;
  text-align:center;
}


.table-container{
    border-radius: 10px;
    text-align: center;
}

#comment-message-textarea {
    box-shadow: 4px 4px 9px #313536;
    border-radius: 5px;
}

.dark-text{
    color: white;
}

.light-text {
    color: black;
}

.current-ticket{
    background-color: rgba(123, 124, 167, 0.412) !important;
}

.link-item a {
    color: white;
}
.link-item a:hover {
    color: black;
}

@media screen and (max-width: 1050px){
     .filter{
        width: 100px;
    }
}


